body {
	background-color: #EEE;
	margin: 0;
	font-family: sans-serif;
}

header {
	background-color: black;
	color: white;
	position: absolute;
	width: 100%;
	span {
		padding: 1rem .2rem;
	}
}

main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bubble {
	padding: 1rem;
	text-align: center;
	margin: 0 auto;
	display: none;
	&.visible {
		display: flex;
	}
	&.nochildren .content {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: black;
		color: white;
		width: 5em;
		height: 5em;
		position: relative;
		font-size: 4em;
		&.hidden {
			display: none;
		}
	}
	.floating {
		font-size: .4em;
		position: absolute;
		top: -1em;
		right: 10em;
		text-align: right;
		color: black;
		width: 100%;
	}
}