body {
  background-color: #EEE;
  margin: 0;
  font-family: sans-serif;
}

header {
  color: #777;
  position: absolute;
  top: 1em;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

header span {
  margin-top: 1rem;
  padding: 1rem .2rem;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.bubble.visible {
  display: flex;
  position: relative;
  animation: hover 6s ease-in-out infinite;
}

.bubble.visible.animate {
  animation: zoomFade .2s ease-in;
}

.bubble .content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: black;
  color: white;
  width: 5em;
  height: 5em;
  position: relative;
  font-size: 4em;
  box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.bubble .content.hidden {
  display: none;
}

.bubble.nochildren .content {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
}

.bubble .floating {
  font-size: .4em;
  position: absolute;
  top: -1em;
  right: 10em;
  text-align: right;
  color: black;
  width: 100%;
}

.bubble .floating:nth-of-type(2) {
  right: unset;
  left: 10em;
  text-align: left;
  color: #AAA;
}

.bubble .floating:nth-of-type(2)::before {
  content: "(";
}

.bubble .floating:nth-of-type(2)::after {
  content: ")";
}

@keyframes zoomFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes hover {
  0% {
    top: -1em;
    left: -.5em;
  }
  50% {
    top: 1em;
    left: .2em;
  }
  100% {
    top: -1em;
    left: -.5em;
  }
}
